<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>a</title>
</head>
<body>
    <section>
        <div class="textProcess">
            <h3>Processo de agendamento</h1>
        </div>
        <div class="imagesProcess">
            <div>
                <p class="text"><img class="tamanhoImg" src="assets/img/computer.png"></p>
                <h6 class="text">Selecione a unidade.</h6>
            </div>

            <div>
                <p class="text"><img class="tamanhoImg" src="assets/img/schedule.png"></p>
                <h6 class="text">Selecione a data e o horário.</h6>
            </div>

            <div>
                <p class="text"><img class="tamanhoImg" src="assets/img/user.png"></p>
                <h6 class="text">Faça login.</h6>
            </div>

            <div>
                <p class="text"><img class="tamanhoImg" src="assets/img/flag.png"></p>
                <h6 class="text">Compareça a unidade <br> na data marcada.</h6>
            </div>
        </div>
    </section>
</body>
</html>