.imagens{
    border-radius: 200px;
}

.cards{
    padding-top: 30px;
}

.borda{
    border-style: solid; 
    border-width: 2px;
    border-radius: 10px;
    margin: 20px;
    padding-top: 10px;
}
